<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="content row --p">
                <div class="col-lg-3 col-xs-12">
                    <div class="button button-lg button-transp d-flex align-items-center center-xs">
                        <i class="ri-customer-service-2-fill --mr-half"></i>
                        <span>Soporte Tecnico</span>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="button button-lg button-transp d-flex align-items-center center-xs">
                        <span>Desarrollado por nosotros mismos</span>
                        <i class="ri-arrow-right-up-line --ml-half"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>