<app-promo-banner></app-promo-banner>
<app-admin-nav></app-admin-nav>
<div class="animate__animated animate__fadeIn --flex">
    <div id="main" class="container-fluid bg-light-gray">
        <header class="container-fluid">
            <div class="container content">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="">
                            <div class="--p">
                                <h1 class="strong">Encuentra tu</h1>
                                <h1 class="strong">Proximo Vehiculo</h1>
                                <h5 class="inter --mt"><i class="ri-checkbox-circle-fill --mr --primary"></i> <small>NUEVOS, SEMINUEVOS Y USADOS</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container ">
                    <div class="">
                        <div class="row ">
                            <div class="col-xxl-11 col-xl-10 col-lg-10"> 
                                 <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <select name="" id="" class="form-control">
                                                <option value="">Año</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <select name="" id="" class="form-control">
                                                <option value="">Marca</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <select name="" id="" class="form-control">
                                                <option value="">Modelo</option>
                                            </select>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            <div class="col-xxl-1 col-xl-2 col-lg-2"> 
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="button button-prim button-lg w-100 text-center" routerLink="/explore">Buscar</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div id="featured" class="container-fluid">
        <div class="container --vertical-section-padding">
            <div class="column --p">
                <div class="title">
                    <h2 class="strong --mb">Ofertas Descatadas</h2>
                </div>
                <div class="grid">
                    <div  class="grid-item border overflow-hidden" *ngFor="let item of autos">
                        <div class="img-wrap overflow-hidden">
                            <img [src]="item.img" alt="">
                        </div>
                        <div class="bg-light-white">
                            <div class="--p --p-xs">
                                <label for=""><small class="--upper">{{item.new}}</small></label>
                                <h6 class="no-m --cap"><strong>{{item.brand + ' ' + item.model + ' ' + item.year}}</strong></h6>
                                <h6 class="--mt-half --primary"><span class="--upper">{{item.currency}}$</span>{{item.price}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="categories" class="container-fluid bg-light-gray">
        <div class="container --vertical-section-padding">
            <div class="column --p">
                <div class="title">
                    <h2 class="strong --mb">Buscar por</h2>
                </div>
                <div class="tabs">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4">
                            <div [class]="tipos?  'button button-sm button-tab active' : 'button button-sm button-tab' " (click)="mostrar('tipos')">Tipos</div>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <div [class]="marcas?  'button button-sm button-tab active' : 'button button-sm button-tab' " (click)="mostrar('marcas')">Marcas</div>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <div [class]="combustible?  'button button-sm button-tab active' : 'button button-sm button-tab' " (click)="mostrar('combustible')">Combustible</div>
                        </div>
                    </div>
                    <!-- LISTADO DE MARCAS-->
                    <div id="marcas" class="row --mt-2" *ngIf="marcas">
                        <div class="col-lg-12">
                            <ul class="d-flex flex-wrap" class="animate__animated animate__fadeIn">
                                <li *ngFor="let i of marcasAutos">
                                    <a class="--cap" routerLink="">{{i.marca}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="tipos" class="row --mt-2" *ngIf="tipos">
                        <div class="col-lg-12">
                            <ul class="d-flex flex-wrap animate__animated animate__fadeIn">
                                <li *ngFor="let i of categoriasAutos">
                                    <a href="" class="--cap">{{i.type}}<span *ngIf="i.cantidad">({{i.cantidad}})</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="combustible" class="row --mt-2" *ngIf="combustible">
                        <div class="col-lg-12">
                            <ul class="d-flex flex-wrap animate__animated animate__fadeIn">
                                <li *ngFor="let i of combustibles">
                                    <a href="" class="--cap">{{i.name}}<span *ngIf="i.name">({{i.cantidad}})</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="blog" class="container-fluid">
        <div class="container --vertical-section-padding">
            <div class="column --p">
                <div class="title">
                    <div class="d-flex justify-content-between align-items-end --mb">
                        <h2 class="strong no-m">Autonoticias</h2>
                        <a href="">Ver todos</a>
                    </div>
                    <div class="grid">
                        <div  class="grid-item-article overflow-hidden" *ngFor="let item of articles">
                            <div class="img-wrap overflow-hidden">
                                <img [src]="item.img" alt="">
                            </div>
                            <div class="bg-light-white">
                                <div class="--p --p-xs">
                                    <label for=""><small class="--upper">{{item.category}}</small></label>
                                    <h6 class="no-m --cap"><strong>{{item.title}}</strong></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-main-footer></app-main-footer>