<div class="container-fluid h-100 animate__animated animate__fadeIn">
    <div class="row h-100">
        <div id="formside" class="col-lg-4 h-100 offset-lg-4 col-md-6 offset-md-3">
            <div class="w-100">
                <div class="row --p">
                    <div class="col-lg-12 col-md-12">
                        <div class="p-3"><h2 class="strong">El Garage</h2></div>
                        <form action="" class="p-3 bg-light-white">
                            <label for="" class="--muted">AREA DE SOCIOS</label>
                            <h2 class="--mb-2">Panel Administrativo</h2>
                            <div class="w-100 d-flex flex-column --mb ">
                                <label for="" class="--mb-half ">Correo Electronico</label>
                                <input type="text" class="w-100">
                                <label for="" class="--alert">Datos no validos, intente otra vez</label>
                            </div>
                            <div class="w-100 d-flex flex-column">
                                <label for="" class="--mb-half ">Contraseña</label>
                                <input type="password" class="w-100">
                                <label for="" class="--alert">Datos no validos, intente otra vez</label>
                            </div>
                            <div class="login--button --mt">
                                <div class="button button-prim button-md has-icon w-100" routerLink="/admin">Iniciar Sesion <i class="ri-arrow-right-s-line"></i></div>
                            </div>
                            <div class="w-100 --mt">
                                <p id="cta" class=""><span class="--muted">¿No tienes una cuenta? </span> <a href="">Registrate</a></p>
                            </div>
                        </form>
                        <div class="button button-md button-transp d-flex align-items-center" routerLink="home"><i class="ri-arrow-left-s-line --mr-half"></i>Volver a elgarage.do</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>