<app-admin-nav></app-admin-nav>
<div class="container-fluid animate__animated animate__fadeIn">
    <div class="container d-flex flex-column">
        <section class="--p">
            <div class="button button-transp --mb d-flex" routerLink="/admin">
                <i class="ri-arrow-left-s-line --mr-half"></i>
                <span>ATRAS</span>
            </div>
            <div class="title">
                <h3><span class="strong">MIS VEHICULOS <span>(5)</span></span></h3>
            </div>
        </section>
    </div>
</div>
<div class="animate__animated animate__fadeIn">
    <div class="container-fluid">
        <div class="container d-flex flex-column">
            <section class="col-lg-6 col-xs-12 --p">
                <div class="row -x-offset-left" >
                    <div class="col-lg-12 --p-0 --pr --mb">
                        <input type="text" class="w-100" placeholder="Buscar vehiculo">
                    </div>
                </div>
                <div class="row -x-offset-left" >
                    <div class="col-lg-12 --p-0 --mb col-xs-3 d-flex">
                    <div class="button button-sm button-prim">Activos (5)</div>
                    <div class="button button-sm button-secn">Archivados (0)</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <hr class="">
    <div class="container-fluid bg-light-gray --flex">
        <div class="container d-flex flex-column">
            <section class="--p d-flex justify-content-between">
                <div class="col-lg-2">
                    <div class="button button-prim h-100 w-100 p-2 has-icon" routerLink="/item-form">Agregar <i class="ri-add-line"></i></div>
                </div>
                <div class="col-lg-2">
                    <select name="" id="" class="w-100 --no-outline">
                        <option value="">Mas reciente</option>
                        <option value="">Precio mas alto</option>
                        <option value="">Precio mas bajo</option>
                    </select>
                </div>
            </section>
            <section class="--p">
                <div class="grid" *ngIf="hayResultados">
                    <div  class="grid-item border overflow-hidden" *ngFor="let item of autos">
                        <span class="--badge position-absolute --p-half d-flex justify-content-center align-items-center">
                            <i class="ri-delete-bin-2-line large"></i>
                        </span>
                        <div class="img-wrap overflow-hidden">
                            <img [src]="item.img" alt="">
                        </div>
                        <div class="bg-light-white">
                            <div class="--p --p-xs">
                                <h6 class="no-m --cap"><strong>{{item.brand + ' ' + item.model + ' ' + item.year}}</strong></h6>
                                <h6 class="no-m --primary"><span class="--upper">{{item.currency}}$</span>{{item.price}}</h6>
                            </div>
                        </div>
                        <div class="row bg-dark-gray">
                            <div class="col-lg-6 col-xs-6">
                                <div class="button button-sm button-secn d-flex justify-content-center">
                                    <small class="d-flex justify-content-center align-items-center">
                                        Archivar <i class="ri-folder-open-line --ml-half"></i>
                                    </small>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-6">
                                <div class="button button-sm button-secn d-flex justify-content-center">
                                    <small class="d-flex justify-content-center align-items-center">
                                        Editar <i class="ri-pencil-line --ml-half"></i>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid" *ngIf="!hayResultados">
                    <div class="grid-item overflow-hidden">
                        <div class="d-flex flex-column align-items-center bg-light-primary --p --pointer">
                            <i class="ri-file-upload-line x-large"></i>
                            <h6 class="no-m text-center">Click aqui para agregar tu primer vehiculo</h6>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<app-footer></app-footer>