<app-admin-nav></app-admin-nav>
<div class="container-fluid --flex animate__animated animate__fadeIn">
    <div class="container">
        <div class="row mt-5 mb-5">
            <!-- galeria de imagenes -->
            <div class="col-lg-7">
                <section class="p-3">
                    <div class="col">
                        <div id="display" class="--display">
                            <div class="--img-wrap">
                                <img src="https://i.blogs.es/29438e/ford-mustang-shelby-gt500-mexico_/1366_2000.jpg" alt="">
                            </div>
                        </div>
                        <div id="collection" class="--collection">
                            <div class="--carousel">
                                <div class="item" *ngFor="let i of collection">
                                    <div class="img-wrap">
                                        <img [src]="i" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <label for="" class="--upper --muted --mid">nuevo | <span>0km</span></label>
                            <h4><strong>Ford Mustang GT350 2021</strong></h4>
                            <p for="" class="--upper --mid">Item  <span>10594</span></p>
                        </div>
                        <div class="button button-sm button-transp has-icon">
                            <i class="ri-heart-3-line large --mr-half"></i>
                            <span class="">Guardar</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="--upper --muted --mid">Precio</label>
                            <h5 class="--primary"><strong>US$37,000</strong></h5>
                        </div>
                        <div class="col-lg-6">
                            <label for="" class="--upper --muted --mid">Inicial desde</label>
                            <h5 class="--primary"><strong>US$6,000</strong></h5>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-lg-6">
                            <div class="button button-md button-prim has-icon mt-2" (click)="toggleModalFinanciamiento()">
                                <span>Solicitar Financiamiento</span>
                                <i class="ri-file-list-3-line"></i>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="p-3">
                    <table class="table table-borderless">
                        <h5 class="strong">Especifiaciones</h5>
                        <tbody>
                            <tr class="d-flex justify-content-between">
                                <td class="strong">Kilometraje</td>
                                <td>0km</td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between">
                                <td class="strong">Combustible</td>
                                <td>Gasolina</td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between">
                                <td class="strong">Cilindros</td>
                                <td>8</td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between">
                                <td class="strong">Rendimiento Combustible <span class="--muted" title="Rendimiento estimado por el fabricante"><i class="ri-information-line --light"></i></span></td>
                                <td class="d-flex">
                                    <div class="--mr">
                                        <label for="" class="d-block --muted">Ciudad</label>
                                        <span>36Kmg</span>
                                    </div>
                                    <div>
                                        <label for="" class="d-block --muted">Autopista</label>
                                        <span>42Kmg</span>
                                    </div>
                                </td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between align-items-start">
                                <td class="strong">Transmision</td>
                                <td class="text-right">Manual</td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between align-items-start">
                                <td class="strong">Toma de Aire</td>
                                <td class="text-right">Supercargado</td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between align-items-start">
                                <td class="strong">Traccion</td>
                                <td class="text-right">Trasera</td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between align-items-start">
                                <td class="strong">Asientos</td>
                                <td class="text-right">5</td>
                            </tr>
                            <hr>
                        </tbody>
                        <!-- <p href="" class="text-center --primary mt-3"><span class="--mr-half">Ver Especificaciones Completas</span> <i class="ri-arrow-down-s-line"></i></p> -->
                    </table>
                </section>
                <section class="p-3 bg-light-gray">
                    <div class="d-flex justify-content-between">
                        <h5 class="strong">Garantia</h5>
                        <i class="ri-shield-check-line large"></i>
                    </div>
                    <label for="" class="--muted --upper --mb-half">Motor y Transmision</label>
                    <h2>5 años <span>|| 100,000km</span></h2>
                    
                </section>
                <section class="p-3">
                    <table class="table table-borderless">
                        <h5 class="strong">Estilo</h5>
                        <tbody>
                            <tr class="d-flex justify-content-between">
                                <td class="strong">Tipo</td>
                                <td>Deportivo</td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between">
                                <td class="strong">Color Exterior</td>
                                <td>Azul</td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between align-items-start">
                                <td class="strong">Material Asientos</td>
                                <td class="text-right">Gamuza</td>
                            </tr>
                            <hr>
                            <tr class="d-flex justify-content-between align-items-start">
                                <td class="strong">Toma de Aire</td>
                                <td class="text-right">Supercargado</td>
                            </tr>
                            <hr>
                        </tbody>
                    </table>
                </section>
                <section class="p-3">
                    <table class="table table-borderless">
                        <h5 class="strong">Accesorios y Extras</h5>
                        <div class="row" id="extras--list">
                            <div class="col-lg-6">
                                <ul>
                                    <li>
                                        <img src="../../../assets/img/icons/abs.png" class="--mr-half" alt="">
                                        <span>Frenos ABS</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/traction.png" class="--mr-half" alt="">
                                        <span>Control de Traccion</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/ac.png" class="--mr-half" alt="">
                                        <span>Aire Multizona</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/airbag.png" class="--mr-half" alt="">
                                        <span>Bolsa de Aire de Pasajero</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/paddleshift.png" class="--mr-half" alt="">
                                        <span>Cambios en el Guia (paddleshift)</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/sunroof.png" class="--mr-half" alt="">
                                        <span>Sunroof</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/sunroof.png" class="--mr-half" alt="">
                                        <span>Techo Panoramico</span>
                                    </li>
                                    <li>
                                        <span class="i-wrap --mr-half "><i class="ri-user-add-line --primary"></i></span>
                                        <span>3 filas de Asientos</span>
                                    </li>
                                    <li>
                                        <span class="i-wrap --mr-half "><i class="ri-arrow-up-line --primary"></i></span>
                                        <span>Cruise Control</span>
                                    </li>
                                    <li>
                                        <span class="i-wrap --mr-half "><i class="ri-map-2-line --primary"></i></span>
                                        <span>Navegacion por GPS</span>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li>
                                        <span class="i-wrap --mr-half "><i class="ri-leaf-line --primary"></i></span>
                                        <span>Modo Eco</span>
                                    </li>
                                    <li>
                                        <span class="i-wrap --mr-half "><i class="ri-vidicon-line --primary"></i></span>
                                        <span>Camara de Reversa</span>
                                    </li>
                                    <li>
                                        <span class="i-wrap --mr-half "><i class="ri-signal-tower-line --primary"></i></span>
                                        <span>Sensores de Punto Ciego</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/accident.png" class="--mr-half" alt="">
                                        <span>Sensores de Colision</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/smartkey.png" class="--mr-half" alt="">
                                        <span>Llave Inteligente</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/push.png" class="--mr-half" alt="">
                                        <span>Encendido por Toque (Push Button)</span>
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/icons/heatedseats.png" class="--mr-half" alt="">
                                        <span>Calentador de Asientos</span>
                                    </li>
                                    <li>
                                        <span class="i-wrap --mr-half "><i class="ri-android-line --primary"></i></span>
                                        <span>Android Auto</span>
                                    </li>
                                    <li>
                                        <span class="i-wrap --mr-half "><i class="ri-apple-line --primary"></i></span>
                                        <span>Apple Car Play</span>
                                    </li>
                                    <li>
                                        <span class="i-wrap --mr-half "><i class="ri-bluetooth-line --primary"></i></span>
                                        <span>Radio Bluetooth</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </table>
                </section>
            </div>
            <!-- panel lateral, vendedor-->
            <div class="col-lg-5">
                <section class="p-3 bg-light-gray">
                    <h4 class="strong">Vendedor</h4>
                    <hr>
                    <ul class="mt-3">
                        <li>
                            <i class="ri-user-line --mr-half --primary"></i>
                            <span>Autocraft SRL</span>
                        </li>
                        <li>
                            <i class="ri-mail-line --mr-half --primary"></i>
                            <span>admin@mail.com</span>
                        </li>
                        <li>
                            <i class="ri-phone-line --mr-half --primary"></i>
                            <span>809 000 0000</span>
                        </li>
                        <li>
                            <i class="ri-map-pin-line --mr-half --primary"></i>
                            <span>Calle Guarocuya esq. Ejemplo, #16. El Naco, DN</span>
                        </li>
                        <li class="mt-3" *ngIf="!infoForm">
                            <div class="button button-lg button-secn has-icon" (click)="toggleInfoForm()">
                                <span>Solicitar Informacion</span>
                                <i class="ri-mail-send-line"></i>
                            </div>
                        </li>
                        <li id="solicitarInfoForm" *ngIf="infoForm" class="animate__animated animate__fadeIn">
                            <hr>
                            <h3 class="mt-3">Solicitar Informacion</h3>
                            <div class="form-group">
                                <label for="">Mi nombre</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Correo Electronico</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Telefono / Whatsapp</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="">Mensaje</label>
                                <textarea type="text" class="form-control"></textarea>
                            </div>
                            <div class="row d-flex justify-content-between mb-3">
                                <div class="col-lg-4">
                                    <div class="button button-lg button-transp has-icon" (click)="toggleInfoForm()">
                                        Cancelar
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="button button-lg button-prim has-icon">
                                        Enviar
                                        <i class="ri-send-plane-2-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </li>
                        <li class="mt-3">
                            <div class="button button-lg button-confirm has-icon">
                                <span>Contactar Via Whatsapp</span>
                                <i class="ri-whatsapp-line"></i>
                            </div>
                        </li>
                    </ul>
                    <hr>
                    <div id="location" class="mt-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7568.370434494505!2d-69.91428845132486!3d18.475267691999296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf89da5a346ba5%3A0xf1cca324064b2438!2sBanco%20Caribe!5e0!3m2!1sen!2sdo!4v1636148106219!5m2!1sen!2sdo" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </section>
                <section class="p-3 bg-light-gray mt-3">
                    <h4 class="strong">Calculadora de Pagos</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="" class="--upper">Precio</label>
                            <input type="number" class="w-100" placeholder="US$37,000" disabled>
                        </div>
                        <div class="col-lg-6">
                            <label for="" class="--upper">Inicial</label>
                            <input type="number" class="w-100 bg-ligth-white" placeholder="US$0">
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="col-lg-6">
                            <label for="" class="--upper">duracion (meses)</label>
                            <input type="number" class="w-100" placeholder="12" >
                        </div>
                        <div class="col-lg-6">
                            <label for="" class="--upper">Interes Anual (%)</label>
                            <input type="number" class="w-100 bg-ligth-white" placeholder="12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="pt-3 pb-3">
                                <label for="" class="--upper">mensualidad</label>
                                <h3 class="no-m">RD$29,400</h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="pt-3 pb-3">
                                <label for="" class="--upper --mb-half">financiamiento</label>
                                <h5 class="no-m">RD$2,350,000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <small class="--muted">
                            Esta calculadora es solo informativa. Porfavor contacte al vendedor para
                            obtener informacion precisa sobre su financiamiento.
                        </small>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="button button-lg button-prim has-icon" (click)="toggleModalFinanciamiento()">
                                <span>Financiamiento</span>
                                <i class="ri-file-list-3-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="button button-lg button-confirm has-icon">
                                <span>Whatsapp</span>
                                <i class="ri-whatsapp-line"></i>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div>
                <small>
                    <span><strong>Descargo de responsabilidad de bienmontao.com: </strong></span>
                    La informacion de los vehiculos mostrados en este portal es suplida por el vendedor, el fabricante y/u otros
                    terceros; bienmontao.com no es responsable por la presicion de dicha informacion. bienmontao.com provee este
                    servicio y materiales sin representacion ni garantia de ningun tipo, expresada ni implicada.
                </small>
            </div>
        </div>
    </div>
</div>
<app-main-footer></app-main-footer>

<!-- Modal -->
<div *ngIf="mostrarFinanciamiento" class="quick modal fade show d-block animate__animated animate__fadeIn" id="financiamientoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Solicitar Financiamiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="toggleModalFinanciamiento()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <label for="">ITEM 10594</label>
                    <h4>Ford Mustang GT350 2021</h4>
                    <h4 class="--primary">US$37,000</h4>
                </div>
            </div>
          <div class="row mt-4">
              <div class="col-lg-6">
                  <label for="">NOMBRE(S)</label>
                  <input type="text" class="form-control">
              </div>
              <div class="col-lg-6">
                  <label for="">APELLIDOS</label>
                  <input type="text" class="form-control">
              </div>
              <div class="col-lg-6">
                  <label for="">EDAD</label>
                  <input type="number" class="form-control">
              </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-6">
                <label for="">Ocupacion</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-lg-6">
                <label for="">Ingresos Mensuales</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-lg-6">
                <label for="">Lugar de Trabajo</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-lg-6">
                <label for="">Tiempo Laborando</label>
                <input type="text" class="form-control">
            </div>
        </div>
          <div class="row mt-4">
              <div class="col-lg-6">
                <label for="">TELEFONO</label>
                <input type="phone" class="form-control">
              </div>
              <div class="col-lg-6">
                <label for="">EMAIL</label>
                <input type="email" class="form-control">
              </div>
          </div>
          <div class="row mt-4 mb-4">
              <div class="col-lg-6">
                <label for="">INICIAL (RD$)</label>
                <input type="number" class="form-control">
              </div>
              <div class="col-lg-6">
                <label for="">DURACION (MESES)</label>
                <input type="number" class="form-control">
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="button button-lg button-secn" data-bs-dismiss="modal" (click)="toggleModalFinanciamiento()">Cancelar</div>
          <div class="button button-lg button-prim">Completar Solicitud</div>
        </div>
      </div>
    </div>
  </div>