
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/home"><img src="../../assets/img/logo/black.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Vende</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Renta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Autonoticias</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Mecanica a Domicilio</a></li>
              <li><a class="dropdown-item" href="#">Asegura tu Vehiculo</a></li>
              <li><a class="dropdown-item" href="#">Gomas y Alineacion</a></li>
              <li><a class="dropdown-item" href="#">Cambio de aceite</a></li>
              <li><a class="dropdown-item" href="#">Encuentra Repuestos</a></li>
              <li><a class="dropdown-item" href="#">CarWash y Detailing</a></li>
              <li><a class="dropdown-item" href="#">Adornos y Tintados</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <div class="button button-prim button-lg">Iniciar Sesion</div>
        </form>
      </div>
    </div>
  </nav>