
<!-- <div class="container-fluid bg-dark-black">
    <div class="container d-flex justify-content-between">
        <div class="brand --p">
            <img src="../../assets/img/logo/white.png" alt="">
        </div>
        <div class="actions --p d-flex align-items-center">
            <div class="button has-icon --mr-2">
                <i class="ri-notification-3-fill large"></i>
            </div>
            <div class="button has-icon" routerLink="login">
                SALIR <i class="--ml-half ri-logout-box-r-line large"></i>
            </div>
        </div>
    </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/img/logo/white.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <div class="button button-prim button-lg">Iniciar Sesion</div>
        </form>
      </div>
    </div>
  </nav>