<footer class="container-fluid animate__animated animate__fadeIn">
    <div class="container --vertical-section-padding">
        <div class="--p">
            <div class="row">
                <div class="col-md-3">
                    <h5>OnlineNow SRL</h5>
                </div>
                <div class="col-md-3">
                    <h5>Navegacion</h5>
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Buscar vehiculos</a></li>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Socios</h5>
                    <ul>
                        <li><a href="">Vende tu vehiculo</a></li>
                        <li><a href="">Publicidad</a></li>
                        <li><a href="">Panel Administrativo de Socios</a></li>
                        <li><a href="">Planes Promocionales</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Corporativo</h5>
                    <ul>
                        <li><a href="">Terminos de Uso</a></li>
                        <li><a href="">Privacidad</a></li>
                        <li><a href="">Cookies</a></li>
                        <li><a href="">Politicas de Promocion</a></li>
                        <li><a href="">Descargo de responsabilidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <p><small>OnlineNow®, All rights reserved.</small></p>
        </div>
    </div>
</footer>