@media (min-width: 300px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 900px) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1200px) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}